@import "tailwindcss";
@theme{
     --font-satoshi: "Satoshi", "sans-serif";
     --color-loginColor : rgb(250 246 230);
     --color-textColor : rgb(108 106 103);
     --color-colorOrange: #FE7F2D;
     --color-colorBlue: #233d4d;
     --color-news :#D5C6A9;
     --color-postnews: #72705a
}
